page-login {

    .hero-header {
        height: 40vh;
        img {
            height: 60%;
            width: auto;
        }
    }

    .content {
        padding: 1rem 3rem 0;
        h3 {
            font-size: 1.8rem;
            line-height: 2.8rem;
            font-weight: 700;
            margin: 2rem 0 3rem;
        }
        .input-header {
            margin: 1.5rem 0 0.5rem;
            .title {
                font-size: 1.8rem;
                margin-bottom: 0.5rem;
                font-weight: 700;
            }
            .subtitle {
                font-size: 1.2rem;
            }
        }
        .item-block {
            font-size: 1.4rem;
            ion-input {
                input {
                    margin: 13px 0;
                }
            }
        }
        .message {
            font-size: 1.1rem;
            text-align: center;
            color: #5a5a5a;
        }
    }

}
