<ion-header>
  <ion-navbar>
    <ion-title>Order Status</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="details" text-center>
    <div class="placing-container" *ngIf="!order.currentOrder.stage.placed">
      <div class="pulse-loader" style="height: 200px; width: 200px; margin: 0 auto;"></div>
    </div>
    <img *ngIf="order.currentOrder.stage.placed && !order.currentOrder.stage.accepted && !order.currentOrder.stage.ready" src="assets/assets/order-placed.png">
    <img *ngIf="order.currentOrder.stage.placed && order.currentOrder.stage.accepted && !order.currentOrder.stage.ready" src="assets/assets/order-acceted.png">
    <img *ngIf="order.currentOrder.stage.placed && order.currentOrder.stage.accepted && order.currentOrder.stage.ready" src="assets/assets/order-ready.png">
    <!-- <div class="placeholder"></div> -->
    <h3>Order No: <strong>#{{ orderID }}</strong></h3>
  </div>

  <div class="status" *ngIf="order.isPlacing">
    <ion-list>
      <ion-item [ngClass]="order.currentOrder.stage.placed ? '' : 'faded'">
        <ion-avatar item-left>
          <div class="pulse-loader" *ngIf="order.currentOrder.stage.placed && !order.currentOrder.stage.accepted"></div>
          <ion-icon name="checkmark" *ngIf="order.currentOrder.stage.placed && order.currentOrder.stage.accepted"></ion-icon>
        </ion-avatar>
        Order Placed
        <h5>Order placed and restaurant notified</h5>
      </ion-item>
      <ion-item [ngClass]="order.currentOrder.stage.accepted ? '' : 'faded'">
        <ion-avatar item-left>
          <div class="pulse-loader" *ngIf="order.currentOrder.stage.accepted && !order.currentOrder.stage.ready"></div>
          <ion-icon name="checkmark" *ngIf="order.currentOrder.stage.accepted && order.currentOrder.stage.ready"></ion-icon>
        </ion-avatar>
        Order Accepted
        <h5>Order accepted by the restaurant. Sit tight.</h5>
      </ion-item>
      <ion-item text-center [ngClass]="order.currentOrder.stage.ready ? '' : 'faded'">
          <span>Order Ready</span>
          <h5>Order hot &amp; ready.</h5>
      </ion-item>
    </ion-list>
  </div>

  <div class="status" *ngIf="!isPlacing">
    Oops! Your order has been unfortunately declined. Sorry for the inconvinience. We will initiate refund asap.
  </div>

</ion-content>
