page-partner-listing {

    h5 {
        font-size: 1.4rem;
        font-weight: 700;
        color: #a2a2a2;
    }

    ion-list.listing {
        button.item {
            border-bottom-width: 1px !important;
            border-bottom: 1px solid #ddd;
            padding-left: 0;
            &:last-child {
                border-bottom: 0 !important;
            }

            .item-inner {
                padding-right: 2px;
                background-image: none;
            }

            ion-avatar {
                margin: 0 16px 0 0 !important;
                img {
                    border-radius: 6px;
                    height: 80px;
                    width: 80px;
                    object-fit: cover;
                    object-position: center;
                }
            }

            h2 {
                font-weight: 700;
                line-height: 2.2rem;
            }

            .cuisines {
                font-size: 1.2rem;
                color: #a2a2a2;
                margin: 2px 0;
            }
            
            .price {
                font-size: 1.2rem;
                margin-bottom: 2px;
            }

            .avg {
                font-size: 1.2rem;
                span {
                    color: #a2a2a2;
                }
            }

            button {
                font-size: 0.8rem;
                margin-right: 0;
            }

        }
    }

}
