<!--
  Generated template for the OrderSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Order Summary</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid (click)="loadPartner()">
    <ion-row align-items-center>
      <ion-col col-3 align-self-center>
        <img src="http://placehold.it/50x50" class="img-rounded display-block">
      </ion-col>
      <ion-col col-9 class="info">
        {{ partnerName }} <br/>
        <span>{{ partnerCity }}</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="summary">
    <!-- <h3>Order Summary</h3> -->
    <ion-list class="item-list">
      <ion-item *ngFor="let item of cartItems">
        <ion-grid>
          <ion-row class="align-items-center">
            <ion-col col-6 class="d-flex">
              <div class="type" [ngClass]="item.isNonVeg ? 'nonveg' : ''"></div>
              <div class="name">
                {{ item.name }}
              </div>
            </ion-col>
            <ion-col col-3>
              <div class="counter d-flex align-items-center m-auto" style="border: 0;">
                <!-- <div class="flex-fill left">
                  <button ion-button clear>-</button>
                </div> -->
                <div class="flex-fill center">{{ item.quantity }}</div>
                <!-- <div class="flex-fill right">
                  <button ion-button clear>+</button>
                </div> -->
              </div>
            </ion-col>
            <ion-col col-3>
              <div class="price">
                &#x20B9; {{ item.price }}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <ion-list class="item-list bill">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-6>Subtotal</ion-col>
            <ion-col col-6 text-right>&#x20B9; {{ subTotal / 100 }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item *ngIf="tax > 0">
        <ion-grid>
          <ion-row>
            <ion-col col-6>Tax <ion-icon name="information-circle" (click)="showTax()"></ion-icon></ion-col>
            <ion-col col-6 text-right>&#x20B9; {{ tax / 100 }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row class="total">
            <ion-col col-6>Total</ion-col>
            <ion-col col-6 text-right>&#x20B9; {{ (subTotal + total + tax) / 100 }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

  </div>

  <div class="notes">
    <ion-list>
      <ion-item>
        <ion-label stacked font-weight-bold>Notes (If any)</ion-label>
        <ion-textarea rows="3" [(ngModel)]="notes" placeholder="Any instructions ? Spicy or not spicy, we'll pass them on."></ion-textarea>
      </ion-item>
    </ion-list>
  </div>

</ion-content>

<ion-footer no-border>
  <div class="login" *ngIf="!auth.isLoggedIn">
    <div>
      <h3>This last step</h3>
      <h5>Login or Signup to place your order</h5>
    </div>
    <button ion-button block color="primary" class="general" (click)="login()">
      Login
    </button>
  </div>
  <button ion-button block color="secondary" class="general" (click)="pay()" *ngIf="auth.isLoggedIn">
    Place Order
  </button>
</ion-footer>
