<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Places Nearby</ion-title>
    <ion-buttons end (click)="goToCart()">
        <button ion-button end *ngIf="cartProvider.cartData">
          <span id="hasCart"></span>
          <ion-icon name="cart"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- If Partners -->
  <div *ngIf="partners">
    <h5 text-center class="mb-1" *ngIf="partners.length > 1">{{ partners.length }} places nearby</h5>
    <ion-list class="listing" no-lines>
      <ion-item *ngFor="let partner of partners" (click)="loadMenu(partner)" [ngClass]="{'closed': !partner.isOpen }">
        <div class="image" [ngClass]="{'closed': !partner.isOpen }">
          <img *ngIf="!partner.partnerbg" src="assets/assets/doodle.png">
          <img *ngIf="partner.partnerbg" src="https://res.cloudinary.com/ddiiq3bzl/image/upload/fl_lossy,f_auto,q_auto,w_500/{{ partner.partnerbg }}">
        </div>
        <div class="desc">
          <div class="logo align-items-center" *ngIf="partner.logo">
            <img src="partner.logo" class="m-auto">
          </div>
          <ion-grid>
            <ion-row>
              <ion-col class="align-self-end" col col-7>
                <div class="type" [ngClass]="{
                  'restaurant': partner.characteristics.typeid === '2',
                  'qsr': partner.characteristics.typeid === '1'
                }">{{ partner.characteristics.type }}</div>
                <div class="takeaway" *ngIf="partner.characteristics.takeout"> 
                  Takeout
                </div>
                <h2 text-bold>{{ partner.name }}</h2>
                <div class="cuisines">
                  {{ partner.characteristics.cuisine }}
                </div>
              </ion-col>
              <ion-col col col-5 class="align-self-end" text-right>
                <div class="price">
                  <strong>&#x20B9; {{ partner.avgpp || 300 }}</strong> per person
                </div>
                <div class="avg">
                  {{ partner.distance }}, {{ partner.avgtime || 15 }} mins
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="fakePlaces">
    <ion-list class="fake-listing" no-lines>
      <ion-item *ngFor="let fake of fakePlaces">
        <div class="image"></div>
        <div class="desc">
          <div class="logo align-items-center"></div>
          <ion-grid>
            <ion-row>
              <ion-col col col-7>
                <h2 text-bold>DDD</h2>
                <div class="cuisines">
                  DDDDD, DDDDD
                </div>
              </ion-col>
              <ion-col col col-5 class="align-self-end" text-right>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <!-- If !Partners -->
  <div text-center *ngIf="notfound" class="notfound">
    <img src="assets/assets/not-found.png" />
    <h3>Oops!</h3>
    <p>
      No places nearby. We are working on it.
    </p>
  </div>
  
</ion-content>
