page-partner-listing-v2 {

    @keyframes animatedBar {
        0%{
            background-position: -406px 0;
        }
        100%{
            background-position: 0 0;
        }
    }

    h5 {
        font-size: 1.4rem;
        font-weight: 700;
        color: #a2a2a2;
    }

    ion-list.listing {
        ion-item.item {
            border-bottom-width: 0 !important;
            border-bottom: 0;
            padding-left: 0;
            margin-bottom: 5px;
            .item-inner {
                padding-right: 0 !important;
                border-bottom: 0 ;
                ion-label {
                    margin: 5px 0;
                    position: relative;
                    .image {
                        position: relative;
                        border-radius: 5px;
                        overflow: hidden;
                        &::before {
                            content: " ";
                            opacity: 1;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            height: 60%;
                            width: 100%;
                            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 1) 100%);
                            z-index: 10;
                        }
                        img {
                            height: 145px;
                            width: 100%;
                            object-fit: cover;
                            position: relative;
                            display: block;
                        }
                    }
                    .desc {
                        position: absolute;
                        bottom: 0;
                        color: #fff;
                        z-index: 20;
                        width: 100%;
                        .logo {
                            height: 50px;
                            width: 50px;
                            display: flex;
                            background: #fff;
                            margin-left: 10px;
                            border-radius: 8px;
                            box-shadow: 0px 2px 3px #404040;
                            margin-bottom: 2px;
                            img {
                                height: 40px;
                                width: 40px;
                                max-width: 100%;
                                object-fit: contain;
                            }
                        }
                        h2 {
                            font-weight: 700;
                            font-size: 2rem;
                            margin-bottom: 0.2rem;
                            white-space: normal;
                        }
                        .cuisines {
                            font-size: 1.2rem;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .avg, .price {
                            font-size: 1.2rem;
                            strong {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }            
            }
        }
    }

    ion-list.fake-listing {
        ion-item.item {
            border-bottom-width: 0 !important;
            border-bottom: 0;
            padding-left: 0;
            margin-bottom: 5px;
            .item-inner {
                padding-right: 0 !important;
                border-bottom: 0;
                ion-label {
                    margin: 5px 0;
                    position: relative;
                    .image {
                        position: relative;
                        border-radius: 5px;
                        overflow: hidden;
                        height: 145px;
                        background-color: rgba(245, 245, 245, 0.25);
                    }
                    .desc {
                        position: absolute;
                        bottom: 0;
                        color: #fff;
                        z-index: 20;
                        width: 100%;
                        .logo {
                            height: 50px;
                            width: 50px;
                            display: flex;
                            background: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
                            animation: shine-avatar 2s infinite ease-out;
                            background-size: 600px;
                            margin-left: 10px;
                            border-radius: 8px;
                            margin-bottom: 2px;
                        }
                        h2 {
                            font-weight: 700;
                            font-size: 2rem;
                            margin-bottom: 0.4rem;
                            white-space: normal;
                            background: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
                            animation: shine-avatar 2s infinite ease-out;
                            background-size: 600px;
                            height: 24px;
                            border-radius: 2px;
                            color: transparent;
                        }
                        .cuisines {
                            background: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
                            animation: shine-avatar 2s infinite ease-out;
                            background-size: 600px;
                            height: 18px;
                            color: transparent;
                        }
                    }
                }
            }
        }
    }

    .notfound {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            display: block;
            height: calc(50vh - 20px);
            margin: 0 auto 3rem;
        }
        h3 {
            color: #404040;
            font-weight: 600;
        }
        p {
            color: #404040;
            margin: 0;
        }
    }

}
