<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Order History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- *ngIf="orders.length > 0" -->

  <ion-list *ngIf="!empty">
    <button ion-item *ngFor="let order of orders" (click)="openOrderDetails(order)">
      
      <div class="grid">
        <div class="row" align-items-center>
          <ion-col col-2>
            <img src="http://placehold.it/50x50" alt="" srcset="">
          </ion-col>
          <ion-col col-10>
            <div class="order">
              <div class="partner">{{ order.partnerName }}</div>
              <div class="price">Total: &#8377;{{ order.total / 100 }}</div>
            </div>
            <span class="in-progress" *ngIf="order.status === 'PAID' || order.status === 'ACCEPTED'"></span>
          </ion-col>
        </div>
        <hr>
        <div class="row">
          <ion-col>
            <div class="title">Items</div>
            <div class="body">
              <span *ngFor="let item of order.cart">{{ item.quantity }} x  {{ item.name }}, </span>
            </div>
          </ion-col>
        </div>
        <div class="row">
          <ion-col>
            <div class="title">Ordered On</div>
            <div class="body">{{ order.createdOn | date:"MMMM d, y, h:mm a" }}</div>
          </ion-col>
        </div>
        <div class="row">
          <ion-col>
            <div class="title">Order No.</div>
            <div class="body">#{{ order.id }}</div>
          </ion-col>
        </div>
      </div>

    </button> 
  </ion-list>

  <div class="empty" *ngIf="empty" text-center>
    <div class="placeholder"></div>
    No past orders found. Try one ?
  </div>

</ion-content>
