<ion-header [attr.transparent]="isTransparent ? true : null" no-border class="with-bg">
  <ion-navbar [attr.transparent]="isTransparent ? true : null">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ partnerDetails?.name }}</ion-title>
    <ion-buttons end>
      <button ion-button end (click)="openLink(partnerDetails?.location.coordinates, partnerDetails?.name)" style="font-size: 2rem;">
        <ion-icon name="ios-navigate"></ion-icon>
      </button>
      <!-- <button ion-button end>
        <ion-icon name="search"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <div class="hero-header" [style.background-image]="'url(' + partnerDetails.partnerbg + ')'">
    <div class="details">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="logo align-items-center" *ngIf="partnerDetails?.poster">
              <img [src]="partnerDetails?.poster" class="m-auto">
            </div>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col col-8>
            <div class="cuisines">
              {{ partnerDetails?.characteristics.cuisine }}
            </div>
          </ion-col>
          <ion-col class="align-self-end" col-4>
            <div class="avgtime" text-right>
              {{ partnerDetails?.avgtime || 15 }} mins
            </div>
          </ion-col>
        </ion-row> -->
      </ion-grid>
    </div>
  </div>

  <div class="loading" *ngIf="isLoading && !errorLoading" padding-right padding-left>

    <!-- Load Items -->
    <div class="fake-loading">
      <div class="section">
        <div class="name"></div>
        <div class="category">
          <div class="lines"></div>
          <div class="lines"></div>
          <div class="lines"></div>
        </div>
      </div>
      <div class="section">
        <div class="name"></div>
        <div class="category">
          <div class="lines"></div>
          <div class="lines"></div>
          <div class="lines"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="loaded" *ngIf="!isLoading && !errorLoading">

    <div class="menu-list" *ngIf="success && menu !== null">
      <div class="category" *ngFor="let category of menu">
        <div class="section-header">{{ category.name }}</div>
  
        <!-- Load SubCollections -->
        <div *ngIf="category.subcollection">
          <accordion-list *ngFor="let collection of category.subcollection; let index = index" [title]="collection.name" [items]="extractDesc(collection.items)" hasMargin="false">
            <ion-list class="item-list" no-lines>
              <ion-item *ngFor="let item of collection.items">
                <ion-grid no-padding>
                  <ion-row align-items-center>
                    <ion-col no-padding col-9 text-wrap>
                      <div class="display-inline-block">
                        <div class="name">
                          <div class="type" [ngClass]="item.isNonVeg ? 'nonveg' : ''"></div>
                          {{ item.name }}
                        </div>
                        <div class="price">
                          &#x20B9; {{ item.price }}
                        </div>
                        <div class="desc" *ngIf="item.description">
                          {{ item.description }}
                        </div>
                      </div>
                    </ion-col>
                    <ion-col no-padding col-3>
                      <button float-right ion-button color="secondary" outline (click)="addToCart(item)" *ngIf="(!item.selected || item.selected === null) && item.inStock" [hidden]="partnerDetails?.isOpen === false">
                        ADD <span *ngIf="item.hasAddons">*</span>
                      </button>
                      <button float-right disabled ion-button color="secondary" outline *ngIf="!item.inStock" [hidden]="partnerDetails?.isOpen === false">
                        Out of Stock
                      </button>
                      <div class="counter d-flex align-items-center" float-right *ngIf="item.selected">
                        <div class="flex-fill left">
                            <button ion-button clear (click)="updateCounter(item, false)">-</button>
                          </div>
                        <div class="flex-fill center">{{ item.quantity }}</div>
                        <div class="flex-fill right">
                          <button ion-button clear (click)="updateCounter(item, true)">+</button>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
          </accordion-list>
        </div>
  
        <!-- Load Items -->
        <ion-list class="item-list" *ngIf="category.items" no-lines>
          <ion-item *ngFor="let item of category.items">
            <ion-grid no-padding>
              <ion-row align-items-center>
                <ion-col no-padding col-9 text-wrap>
                  <div class="display-inline-block">
                    <div class="name">
                      <div class="type" [ngClass]="item.isNonVeg ? 'nonveg' : ''"></div>
                      {{ item.name }}
                    </div>
                    <div class="price">
                      &#x20B9; {{ item.price }}
                    </div>
                    <div class="desc" *ngIf="item.description">
                      {{ item.description }}
                    </div>
                  </div>
                </ion-col>
                <ion-col no-padding col-3>
                  <button float-right ion-button color="secondary" outline (click)="addToCart(item, true)" *ngIf="(!item.selected || item.selected === null) && item.inStock" [hidden]="partnerDetails?.isOpen === false">
                    ADD <span *ngIf="item.hasAddons">*</span>
                  </button>
                  <button float-right disabled ion-button color="secondary" outline *ngIf="!item.inStock" [hidden]="partnerDetails?.isOpen === false">
                    Out of Stock
                  </button>
                  <div class="counter d-flex align-items-center" float-right *ngIf="item.selected">
                    <div class="flex-fill left">
                        <button ion-button clear (click)="updateCounter(item, false)">-</button>
                      </div>
                    <div class="flex-fill center">{{ item.quantity }}</div>
                    <div class="flex-fill right">
                      <button ion-button clear (click)="updateCounter(item, true)">+</button>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </div>
    </div>
  
    <div class="error" *ngIf="!success"></div>

  </div>

  <div *ngIf="errorLoading">
    Error loading menu.
  </div>

</ion-content>

<ion-footer no-border>
  <button ion-button block color="secondary" [ngClass]="showCart ? 'show' : 'hide'" (click)="loadSummary()">
    <ion-grid class="p0">
      <ion-row align-items-center>
        <ion-col class="p0" text-left col-7>
          {{ cartProvider.totalItems }} Items - &#x20B9;{{ cartProvider.total / 100 }} <br/>
          <span class="name" *ngIf="cartProvider.partnerName">From: {{ cartProvider.partnerName }}</span>
        </ion-col>
        <ion-col class="p0" text-right col-5 style="position: relative; top: -2px;">
          View Cart
          <ion-icon style="position: relative; top: 2px" name="ios-arrow-dropright-circle"></ion-icon>
        </ion-col>        
      </ion-row>
    </ion-grid>
  </button>
</ion-footer>
